@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

* {
    font-family: 'Noto Sans JP';
    font-weight: 500;
}

body {
    background: linear-gradient(to left top, rgb(162, 207, 233), rgb(175, 224, 189));
    user-select: none;
    zoom:80%;
}

canvas {
    border: solid rgb(50, 88, 225) 2px;
    background-color: rgba(255, 255, 255, 0.7);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.toolbox {
    padding: 200px 10px 0px 10px;
    display:flex;
    flex-direction: column;
    max-width: 250px;

    background-color: rgb(233, 236, 242, 0.8);
    border-radius: 0px 50px 50px 0px;


    .button {
        border-radius: 0px;
        background-color: cornflowerblue;
        border: none;
        color: white;
        text-align: center;
        transition: .2s ease-out;
        width: 90%;
        height: 25px;
        margin: 2px auto;
    }
    .button:hover {
        scale: 1.02;
        background-color: rgb(150, 182, 241);
        text-shadow: 0px 1px 0px  black;
        border-radius: 5px;
    }
    .button:active {
        scale: 0.95;
    }

    .button:hover.enable {
        background-color: rgb(246, 167, 167);
    }

    .enable {
        background-color:lightcoral;
    }

    .object-list {
        background-color: rgb(172, 188, 214);
        border-radius: 10px;
        min-height: 0px;
        width: 250px;
        overflow: hidden;

        .layer {
            border-bottom: solid 1px black;
            min-height: 1rem;
            height: 3rem;
            display: flex;
            overflow: hidden;

            .name {
                margin: 10px;
                max-width: 150px;
                color: white;
            }

            .move-button {
                display: flex;
                flex-direction: column;

                .icon {
                    background-color: white;
                    width: 15px;
                    height: 15px;
                    margin: 5px;
                    visibility: hidden;
                }

                #layer-up {
                    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
                }

                #layer-down {
                    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
                }
            }

            .delete-button {
                width: 15px;
                height: 15px;
                background-color: red;
                border-radius: 2px;
                margin: auto 0px auto auto;
                visibility: hidden;
                min-width: 15px;
            }
        }

        .selected {
            background-color: rgb(161, 197, 255);
            .move-button .icon {
                visibility: visible;
            }
            .icon {
                visibility: visible;
            }
        }

        .locked.selected {
            .icon {
                visibility: hidden;
            }
            .delete-button {
                visibility: visible;
            }
        }

        .icon {
            transition: .2s ease-out;
        }
        .icon:hover {
            scale: 1.2;
        }

        .layer:last-of-type {
            border-bottom: none;
        }

    }
}

.layer-value {
    margin: 50px auto 10px auto;
    .input-value {
        width: 50px;
        transform: skewX(-10deg);
        border:none;
        text-align: center;
    }

    #layerX {
        color: red;
    }
    #layerY {
        color: green;
    }
}