@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
* {
  font-family: "Noto Sans JP";
  font-weight: 500;
}

body {
  background: linear-gradient(to left top, rgb(162, 207, 233), rgb(175, 224, 189));
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  zoom: 80%;
}

canvas {
  border: solid rgb(50, 88, 225) 2px;
  background-color: rgba(255, 255, 255, 0.7);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.toolbox {
  padding: 200px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  max-width: 250px;
  background-color: rgba(233, 236, 242, 0.8);
  border-radius: 0px 50px 50px 0px;
}
.toolbox .button {
  border-radius: 0px;
  background-color: cornflowerblue;
  border: none;
  color: white;
  text-align: center;
  transition: 0.2s ease-out;
  width: 90%;
  height: 25px;
  margin: 2px auto;
}
.toolbox .button:hover {
  scale: 1.02;
  background-color: rgb(150, 182, 241);
  text-shadow: 0px 1px 0px black;
  border-radius: 5px;
}
.toolbox .button:active {
  scale: 0.95;
}
.toolbox .button:hover.enable {
  background-color: rgb(246, 167, 167);
}
.toolbox .enable {
  background-color: lightcoral;
}
.toolbox .object-list {
  background-color: rgb(172, 188, 214);
  border-radius: 10px;
  min-height: 0px;
  width: 250px;
  overflow: hidden;
}
.toolbox .object-list .layer {
  border-bottom: solid 1px black;
  min-height: 1rem;
  height: 3rem;
  display: flex;
  overflow: hidden;
}
.toolbox .object-list .layer .name {
  margin: 10px;
  max-width: 150px;
  color: white;
}
.toolbox .object-list .layer .move-button {
  display: flex;
  flex-direction: column;
}
.toolbox .object-list .layer .move-button .icon {
  background-color: white;
  width: 15px;
  height: 15px;
  margin: 5px;
  visibility: hidden;
}
.toolbox .object-list .layer .move-button #layer-up {
  -webkit-clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}
.toolbox .object-list .layer .move-button #layer-down {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}
.toolbox .object-list .layer .delete-button {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 2px;
  margin: auto 0px auto auto;
  visibility: hidden;
  min-width: 15px;
}
.toolbox .object-list .selected {
  background-color: rgb(161, 197, 255);
}
.toolbox .object-list .selected .move-button .icon {
  visibility: visible;
}
.toolbox .object-list .selected .icon {
  visibility: visible;
}
.toolbox .object-list .locked.selected .icon {
  visibility: hidden;
}
.toolbox .object-list .locked.selected .delete-button {
  visibility: visible;
}
.toolbox .object-list .icon {
  transition: 0.2s ease-out;
}
.toolbox .object-list .icon:hover {
  scale: 1.2;
}
.toolbox .object-list .layer:last-of-type {
  border-bottom: none;
}

.layer-value {
  margin: 50px auto 10px auto;
}
.layer-value .input-value {
  width: 50px;
  transform: skewX(-10deg);
  border: none;
  text-align: center;
}
.layer-value #layerX {
  color: red;
}
.layer-value #layerY {
  color: green;
}/*# sourceMappingURL=style.css.map */